{% extends "base.html" %}
{% block content %}
<!-- Carousel -->
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
    <!--  -->
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="8000">
          <a href="#">
            <img src="../static/assets/mobiles.png" class="d-block" alt="..." />
          </a>
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <a href="#">
            <img
              src="../static/assets/mobiles1.png"
              class="d-block"
              alt="..."
            />
          </a>
        </div>
        <div class="carousel-item" data-bs-interval="8000">
          <a href="#">
            <img src="../static/assets/mobiles.png" class="d-block" alt="..." />
          </a>
        </div>
      </div>

      <div class="carousel-control-prew-div">
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
      </div>

      <div class="carousel-control-next-div">
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- Products -->
    <div class="products">
      <div class="products-row">
        <div class="description">
          <p>Best of Smartphones</p>
        </div>
        <div class="products-items">
          {% for product in products %}
            {% if product.category == "mobile" %}
              <a class="item" href="{{ url_for('product', product_id=product.id) }}">
                <img class="item-img" src="{{ product.image }}" alt="iphone14-pro-max">
                <h5>{{ product.name }}</h5>
                <div class="item-offer">
                  <img src="../static/assets/offer.png" alt="">
                <!-- offer-->
                  <p>{{ (100 - (product.discount_price * 100 / product.price)) | int }}%<br>Off</p>
                </div>
                <div class="item-price">
                  <h6>₹{{ product.price | int }}</h6>
                  <h6>₹{{ product.discount_price | int }}</h6>
                </div>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="products-row">
        <div class="description">
          <p>Best of Electronics</p>
        </div>
        <div class="products-items">
          {% for product in products %}
            {% if product.category == "electronic accessories" %}
              <a class="item" href="{{ url_for('product', product_id=product.id) }}">
                <img class="item-img" src="{{ product.image }}" alt="iphone14-pro-max">
                <h5>{{ product.name }}</h5>
                <div class="item-offer">
                  <img src="../static/assets/offer.png" alt="">
                <!-- offer-->
                  <p>{{ (100 - (product.discount_price * 100 / product.price)) | int }}%<br>Off</p>
                </div>
                <div class="item-price">
                  <h6>₹{{ product.price | int }}</h6>
                  <h6>₹{{ product.discount_price | int }}</h6>
                </div>
              </a>
            {% endif %}
          {% endfor %}
<!--          <a class="item" href="#">-->
<!--            <img class="item-img" src="../static/assets/iphone14-pro-max.jpg" alt="iphone14-pro-max">-->
<!--            <h5>iPhone 14 Pro Max</h5>-->
<!--            <div class="item-offer">-->
<!--              <img src="../static/assets/offer.png" alt="">-->
<!--              <p>25%<br>Off</p>-->
<!--            </div>-->
<!--            <div class="item-price">-->
<!--              <h6>₹2,00,000</h6>-->
<!--              <h6>₹1,89,900</h6>-->
<!--            </div>-->
<!--          </a>-->

        </div>
      </div>
    </div>
{% endblock %}